.App {
  background: url(./Assets/background-w-bleed.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #764C85;
}

.nav-bar {
  background-color: #D5E9C5;
  color: #764C85;
  justify-content: space-between;
}

.pet-card {
    text-align: center;
    border: grey solid 1px;
    border-radius: 25px;
    padding: 1rem;
    width: 20rem;
    height: 20rem;
    display: inline-block;
    margin: 1rem 2rem;
    box-shadow: 3px 4px #A9E0FC
  }

.pet-photo {
    justify-self: center;
    height: 12rem;
    width: auto;
    border-radius: 10px;
}

.toy-card {
  text-align: center;
  border: grey solid 1px;
  border-radius: 25px;
  padding: 1rem;
  width: 20rem;
  height: 40rem;
  display: inline-block;
  margin: 1rem 2rem;
  box-shadow: 3px 4px #A9E0FC
}

.toy-photo {
  justify-self: center;
  height: 12rem;
  width: auto;
  border-radius: 10px;
}

