.App {
  background: url(./Assets/background-w-bleed.png) ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #764C85;
}

.navbar {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.container-fluid {
  background-color: #D5E9C5;
}

.nav-link{
  font-family: 'Roboto', sans-serif;
  color: #764C85 !important;
}

.pet-card {
    text-align: center;
    border: grey solid 1px;
    border-radius: 25px;
    padding: 1rem;
    width: 20rem;
    height: 20rem;
    display: inline-block;
    margin: 1rem 2rem;
    box-shadow: 3px 4px #A9E0FC
  }

.pet-photo {
    justify-self: center;
    height: 12rem;
    width: auto;
    border-radius: 10px;
}

.toy-card {
  text-align: center;
  border: grey solid 1px;
  border-radius: 25px;
  padding: 1rem;
  width: 20rem;
  height: 40rem;
  display: inline-block;
  margin: 1rem 2rem;
  box-shadow: 3px 4px #A9E0FC
}

.toy-photo {
  justify-self: center;
  height: 12rem;
  width: auto;
  border-radius: 10px;
}

.pet-form {
  text-align: center;
  border: grey solid 1px;
  border-radius: 25px;
  width: 25rem;
  height: 8rem;
  display: inline-block;
  margin: 1rem 2rem;
  box-shadow: 3px 4px #A9E0FC
}

.toy-form {
  text-align: center;
  border: grey solid 1px;
  border-radius: 25px;
  padding: 2rem;
  width: 100rem;
  height: 15rem;
  margin: 1rem 1rem;
  box-shadow: 3px 4px #A9E0FC;
  display: grid;
  grid-template-columns: repeat(4, 0.5fr);
  gap: 0.5rem;
}

input[type="radio"] {
  height: 1em;
  width: 1em;
  padding: 1rem;
  margin-left: 9px;
  margin-right: 2px;
}

.full-width {
  grid-column: span 5;
}

