.navbar {
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-fluid {
  background-color: #D5E9C5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px
}

.nav-link{
  font-family: 'Roboto', sans-serif;
  color: #764C85 !important;
  font-size: medium;
  margin: 1rem 3rem;
  margin-left: 1rem;
  word-spacing: 3px;
  display: inline-block;
  padding: 2rem;
}

.pet-card {
    text-align: center;
    border: grey solid 1px;
    border-radius: 25px;
    padding: 1rem;
    width: 20rem;
    height: 20rem;
    display: inline-block;
    margin: 1rem 2rem;
    box-shadow: 3px 4px #A9E0FC
  }

.pet-photo {
    justify-self: center;
    height: 12rem;
    width: auto;
    border-radius: 10px;
}

.toy-card {
  text-align: center;
  border: grey solid 1px;
  border-radius: 25px;
  padding: 1rem;
  width: 20rem;
  height: 45rem;
  display: inline-block;
  margin: 1rem 2rem;
  box-shadow: 3px 4px #A9E0FC;
}

.toy-photo {
  justify-self: center;
  height: 12rem;
  width: auto;
  border-radius: 10px;
}

.pet-form {
  text-align: center;
  border: grey solid 1px;
  border-radius: 25px;
  width: 80rem;
  height: 6rem;
  display: inline-block;
  margin: 1rem 2rem;
  padding: 2rem;
  box-shadow: 3px 4px #A9E0FC;
  margin-left: 10%;
  margin-right: 25%;
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 10px;
}

.toy-form {
  text-align: center;
  border: grey solid 1px;
  border-radius: 25px;
  padding: 2rem;
  width: 100rem;
  height: 15rem;
  margin: 1rem 1rem;
  box-shadow: 3px 4px #A9E0FC;
  display: grid;
  grid-template-columns: repeat(4, 0.5fr);
  gap: 0.5rem;
}

input[type="radio"] {
  height: 1em;
  width: 1em;
  padding: 1rem;
  margin-left: 9px;
  margin-right: 2px;
}

.full-width {
  grid-column: span 5;
}

.full-width-pet {
  grid-column: span 2;
}

h2 {
  text-align: center;
}

button {
  color:#764C85;
  background-color: #A9E0FC;
  border-radius: 8px !important;
  text-decoration: none;
  border: none;
  margin: 4px 2px !important;
  box-shadow: 2px 2px #764C85;
  font-weight: bold;
}

.back-button {
  text-align: center;
}

.toys {
  display: grid;
  grid-template-columns: repeat(4, 0.5fr);
  gap: 0.5rem;
}

.welcome-message {
  padding: 3rem;
  font-weight: bold;
}

#paw {
  padding: 3rem;
  margin-left: 30%;
  animation: paw 1s infinite linear alternate;
}


@keyframes paw {
  to {transform: rotate(35deg);}
}



